<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load staticfiles %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin=""/>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin=""></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
    <meta charset="utf-8">
    <title></title>
    <script  src="{% static 'js/leaflet-heat.js' %}"> </script>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        About
      </a>

    </div>


  </div>
</nav>

    <div class="columns">
      <div class="column">
        <aside class="menu">
          <form action="" method="post">
          {% csrf_token %}
  <p class="menu-label">Date Reported</p>
  <ul class="menu-list">
    <li><a>{{ form.date_reported_beg }}</a></li>
    <li><a>{{ form.date_reported_end }}</a></li>
  </ul>
  <p class="menu-label">Radius</p>
  <ul class="menu-list">
    <li><a>{{ form.radius }}</a></li>
  </ul>
  <p class="menu-label">Type of crime</p>
  <ul class="menu-list">
    <li><a>{{ form.type }}</a></li>

    <input type="submit" value="Submit">
</form>

</aside>
      </div>
      <div class="column is-four-fifths">
<div id="mapid"></div>
      </div>
    </div>

  </body>
</html>
<style media="screen">
  #mapid { height: 500px;
    width:100%;
   }
</style>
<script type="text/javascript">
var pos;

  var geoError = function(error) {

      alert(error);

  };

  var geoSuccess = function(position) {
    
  var latitude = position.coords.latitude;
  var longitude = position.coords.longitude;

  var mymap = L.map('mapid').setView([latitude,longitude], 14);
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZmx5c3VyZTE5OTciLCJhIjoiY2pta2xiMDRkMDIycTN1bnZiOGtuc3J1NCJ9.egiZOL0oX3eX4f-Atl9XWQ', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'your.mapbox.access.token'
}).addTo(mymap);

var heat = L.heatLayer([
  {% for crime in crimes %}

	[{{crime.lat}},	{{crime.lng}}, 0.5], // lat, lng, intensity

  {% endfor %}

], {radius: 25}).addTo(mymap);
};
navigator.geolocation.getCurrentPosition(geoSuccess, geoError);

</script>
